.HeaderContainer {
  align-items: center;
  background: #e4ffbd;
  box-shadow: 0 3px 3px rgb(57 63 72 / 30%);
  display: flex;
  height: 70px;
  padding: 0 50px;
}

.LogoImage {
  width: 70px;
}

.HeaderRightSideContainer {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}