.ScanningContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  width: 100%;
}

.ScanningDataContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  width: 100%;
}

.ScanningSearchContainer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: .65rem;
  justify-content: flex-start;
  width: 100%;
}

.ScanningSearchSelect {
  width: 120px !important;
}

.ScanningSearchInput {
  width: 400px !important;
}

.ScanningResultsContainer {
  background: #e4ffbd;
  border: 1px solid #3ba120;
  border-radius: 1rem;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
  display: flex;
  flex-direction: column;
  max-width: 1050px;
  padding: .5rem .25rem;
  width: 100%;
}

.ProfileContainer {
  align-items: center;
  display: flex;
  gap: .75rem;
  padding: .5rem 1rem;
  flex-wrap: wrap;
}

.ProfileLabel {
  color: #807a7a;
}

.ProfileName {
  color: #0a8b0a;
  font-size: 1.25rem;
  font-weight: 600;
}

.InprogressColor {
  color: #CA9D00 !important;
}

.CompletedColor {
  color: #339B22 !important;
}

.ErrorColor {
  color: #FF6666 !important;
}

.NotFoundContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;
}

.ScanningButtonText {
  margin-left: .35rem;
}

.PostsContainer {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
}

.PostsHeaderContainer {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  background: #0a8b0a;
  padding: 1rem;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.PostsHeaderPostId {
  width: 10%;
}

.PostsHeaderEncryptedContact {
  width: 70%;
}

.PostsHeaderActions {
  width: 20%;
}

.PostsItemContainer {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  background: #ffffff;
  padding: 1rem;
  color: #000000;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 10px;
  width: 100%;
}

.PostsItemPostId {
  width: 10%;
}

.PostsItemEncryptedContact {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.6rem;
  width: 80%;
  word-break: break-all;
}

.PostsItemActions {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 10%;
}

.DappToolsContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.DappToolsEncryptedData {
  max-width: 500px;
  width: 100%;
}

.DecryptedContactContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.DecryptedContactLabel {
  color: gray;
  font-size: .85rem;
}

.DecryptedContactValue {
  color: #0a8b0a;
  font-weight: 600;
}

.identicon {
  border-radius: 50%;
  box-shadow: 4px 4px 7px 0 rgb(0 0 0 / 41%) !important;
  cursor: pointer;
}

.ProfileFollowInfo {
  display: flex;
  justify-content: flex-start;
  padding: .5rem 1rem;
  width: 100%;
}
