@import url('./components/Header.css');
@import url('./components/Scanning.css');
@import url('./components/Account.css');
@import url('./components/ConnectWallet.css');
@import url('./components/Spinner.css');
@import url('./components/Footer.css');

body {
  color: #000000;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #e4ffbd;
  border-radius: 4px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}